@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
background-color: #fff !important;
}

p, div, a {
  font-family:'Open Sans',sans-serif;
}

a.btn.btn-default {
  border-color: #fff;
  border-radius: 0;
  font-weight: bold;

}
.hideme{
  opacity:0;
}

#nav{
  border: 0px !important;
}
.navbar-default {
  background-color: #fff !important;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar {
  text-align: center;
}
.navbar-brand, .navbar-nav li a {
  line-height: 50px !important;
  height: 80px;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:active, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #fff !important;
}
nav li {
  text-transform: uppercase;
  font-size: 20px;
}

/* general styles */
.pad-section {
padding-top: 100px;
padding-bottom: 100px;
/*margin-left: 30px;
margin-right: 30px;*/
}
.pad-section img {
width: 100%;
z-index: 0
}

h1.section-title{ 
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-style: none
}
h2.section-title{ 
  text-align: center;
  margin-bottom: 50px;
  font-size: 55px;
}

/* SECTIONS */
#graphic {
background: linear-gradient(
      rgba(0,0,0, 0.5),
      rgba(0,0,0, 0.5)
    ), url(../images/banners/sausage.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
/*width: 100%;*/
/*margin-left: 30px;
margin-right: 30px;
*/
}

.the-logo-image {
  text-align: center
  top: 30%;
}
img.logo-image {
  max-height: 700px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15%;
} 
#graphic h1 {
  font-size: 50px;
  line-height: 65px;
  font-style: italic;
  text-align: left;
}
#graphic p {
  font-size: 25px;
  text-align: right;
  margin-top: -15px;
}

#the-cook {
  background-color: #FFFFFF;
  padding-top: 100px;
}

#the-cook p.lead {
font-size: 20px;
text-align: left;
}

#the-help {
padding-top: 100px;
background-color: #FFFFFF;
width: 100%
}

#the-assistants {
background-color: #FFFFFF;
}

#projects {
padding-top: 100px;
background-color: #FFFFFF;
/*width: 100%;*/
}

#the-fans {
background-color: #FFFFFF;
padding-top: 100px;
}

.skills-sub-header {
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
}
.skills-label{
  font-size: 16px;
  text-align: right;
}
.star {
color: #4d7e95;
padding-left: 5px;
font-size: 13px;
}
a.content-link {
color: #FFFFFF;
font-size: 15px;
padding:20px;
}
a.content-link.active, a.content-link:hover {
color: #ff944d;
}

#footer, #footer a {
height: 10px;
background-color: #303030;
text-align: center;
color: #FFFFFF;
font-size: 30px;
}
.footer-icon {
  padding-left: 10px;
  padding-right: 10px;
}
